* {
    font-family: 'poppons', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    z-index: 999s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
}

.logo {
    text-decoration: none;
    color: #872323;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: #872323;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: rgb(201, 130, 122);
}

/* ---------------header-------------- */
.search-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input {
    padding: 15px;
    font-size: 17px;
    border: 4px solid rgb(210, 199, 199);
    float: right;
    width: 600px;
    background: #f1f1f1;
    text-shadow: 0d0c0c;
    text-align: right;
    border-radius: 60px;

}

.buttonsearch {
    background-color: #872323;
    color: #f0f0f0;
    font-size: 25px;
    border: 1px solid rgb(18, 11, 11);
    border-left: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

/* -------------search-box---------------- */


.container {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, auto));
    gap: 15px;
}

.title {
    display: flex;
    justify-content: center;
    color: #872323;
    font-size: 3.2em;
    font-weight: 800;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 30px;
}

.Book-card {
    background-color: #fff;
    border: 1px solid #000016;
    min-height: 14em;
    width: 19em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
}


.Book-image img {
    height: 100%;
    width: 100%;
    border: 3px solid #000016;

}

.info {
    text-align: center;
}

.info h3 {
    color: #872323;
    font-size: 1, 2em;
    font-weight: 700;
    margin-top: 10px
}

button {
    background: #872323;
    color: white;
    font-size: 17px;
    border: 1px solid rgb(18, 11, 11);
    cursor: pointer;
    text-align: center;
    border-radius: 70cm;

}


button {
    float: center;
    width: 100px;
    padding: 10px;
}

button:hover {
    opacity: 0.9;
}

/* ##################### */
